<!--tabelas do financeiro-->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Financeiro</title>
<style>
body {
    background-color: #f0f7a3;
    margin-top: 5%;

        }
caption {
  text-decoration: underline #ADD8E6;
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
}

tr:hover {background-color: #ADD8E6;}
 </style>
</head>
     <body>
      <table border="1" width="500">

       <caption>Receita mês</caption>
       <thead>
           <tr>
               <th>Entrada</th>
               <th>Saída</th>
               <th>Nome do animal</th>
               <th>Serviço</th>
               <th>Valor</th>
               <th>Valor pago</th>
               <th>Forma de pagamento</th>

           </tr>
       </thead>
       <tbody>
         <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
         </tr>
       </tbody>
       <tfoot>
         <tr>
         </tr>
      </tfoot>


      </table>
     </body>
</html>

