<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Informações</title>
<style>
body {
    background-color: #f0f7a3;
    margin-top: 5%;

        }
caption {
  text-decoration: underline #ADD8E6;
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
}

tr:hover {background-color: #ADD8E6;}
 </style>
</head>
     <body>
      <table border="1" width="500">

       <caption>Informações dos animais</caption>
       <thead>
           <tr>
               <th>Nome</th>
               <th>Idade</th>
               <th>Raça</th>
               <th>Sexo</th>
               <th>Castrado</th>
               <th>Comportamento</th>

           </tr>
       </thead>
       <tbody>
         <tr>
             <td>Amora</td>
             <td>7 meses</td>
             <td>Sem raça</td>
             <td>Fêmea</td>
             <td>Não</td>
             <td>Calma</td>
         </tr>
       </tbody>
       <tfoot>
         <tr>
         </tr>
      </tfoot>


      </table>
<a href="modificar_infos.html">Editar</a>
     </body>
</html>

